.image-section{
    background-color: #5D536B;
}

.head-image{
    position: relative;
    top: 6.0%;
    left:34.0%;
    height: 5.5rem;
    width: 5.5rem;
    background-size: 5.5rem;
    background-repeat: no-repeat;
}

.torso-image{
    position: relative;
    top: 1.5%;
    left: 27%;
    height: 15.5rem;
    width: 15.5rem;
    background-size: 10.5rem;
    background-repeat: no-repeat;
}

.bottom-image{
    position: relative;
    top: -20.5%;
    left: 18%;
    height: 15.5rem;
    width: 15.5rem;
    background-size: 15.5rem;
    background-repeat: no-repeat;
}